:root{
    color-scheme:dark;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

section {

    background-color: black;
    
}

.hero {
    background-color: #2b2a2b;
    height: 100vh;
    color: white;
    font-size: 40px;
}

.hero-area{
    display:flex;
    flex-direction:column;
    height:100%;
    justify-content: center;
}

footer{
    padding:80px;
    background-color: black;
    color:white;
    text-align:center;
    
}

nav{
    display:flex;
    justify-content: space-between;


}

ul {
    display: flex;
    list-style-type: none;
    width: 500px;
    justify-content: space-around;
    font-size:30px;
    padding-top: 55px;
}

li{
   /* width: 200px;*/
    text-decoration: none;

}

h1{
    font-size: 90px;
    margin: 0;
}

h2{
    font-size: 45px;
}

p{
    margin: 0;
    font-weight: 100;
    font-size: 25px;
}

p3
{


}

.hero-text{
    text-align: center;
    margin-bottom: 200px;
}

#leon-portrait{
    margin: auto;
    background-image: url('src/assets/leon.jpg');

    width:300px;
    height:300px;

    background-size: cover;

    background-position: top center;

    border-radius: 50%;

}

#roles{

}

.button {
    margin: auto;
    width: 200px;
    height: 55px;
    border-radius: 40px;
    text-align: center;
    background-color: coral;
    font-weight: 100;
    font-size: 35px;
    padding: 5px;
    margin-top: 30px;
}

.button:hover{
    background-color: #ef744b;
}

.button:active {
        background-color: #695e5e;
        color: #241f1f;
}

.socials {

    margin: auto;
    display: flex;
    list-style-type: none;
    width: 500px;
    justify-content: space-around;
    font-size: 30px;
    padding: 35px;
}

.logo{
    height: 100px;
    padding: 45px;
}

.social {
    margin: 5px;
    border-radius: 40px;
    padding:15px;
}
.social:hover {
    background-color: grey;
 }

.social:active{
    background-color: white;
}

.sub-section{
    display: flex;
    justify-content: space-around;
    padding: 80px;
    background-color: black;
}

.sub-section-alternative {
    display: flex;
    flex-direction: column;
    padding: 80px;
    background-color: #2b2a2b;
    text-align: center;
}

.information{
    color: white;
}

.project-card {
    width: 300px;
    height: 500px;
    border: 1px solid white;
    box-shadow: 5px 5px 10px grey;
    padding: 25px;
    margin:5px;

}

.project-container {
    column-count: 3;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    padding: 25px;
}

@media only screen and (max-width: 1400px)
{
    .project-container {
        display: flex;
        flex-wrap: wrap;
        padding: 10px;
        padding: 25px;
    }
}

.project-image{
    margin-top: 25px;
    object-fit:cover;
    height:200px;
    width:300px;
    border-radius: 25px;
}

hr{
    margin-left:20px;
    margin-right:20px;
}

.subtext {
    font-size: 15px;
    font-weight: 300;
}

.project-link {
    text-decoration: none;
    color: lightgrey;
    box-shadow: inset 0 0 0 0 white;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

    .project-link:hover {
        box-shadow: inset 100px 0 0 0 #695e5e;
        color: white;
    }


a {
    text-decoration:none;
    color:white;
}
